:root {
  --dark-bg-color: #282c34;
  --highlight-color: #3ccf91;
}

.App {
  text-align: center;
  background: var(--dark-bg-color);
  color: var(--highlight-color);
}

.logo-initials {
  margin: 0;
  padding-top: 1%;
}

.parent {
  display: grid;
  /* space around each child in grid */
  gap: 1rem;
  /* space given to the column, repeat for responsiveness */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  background: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* Lines images up nicely */
  justify-content: space-between;
}

.visual {
  height: 100px;
  width: 100%;
  background: purple;
}

.end-content {
  padding-bottom: 1%;
}
