:root {
  --dark-bg-color: #282c34;
  --highlight-color: #3ccf91;
  --general-color: #ffffff;
  --secondary-color: #9d9ea1;
  --oppo-bg-color: #2c384e;
}

.App {
  text-align: center;
  background: var(--dark-bg-color);
  color: var(--highlight-color);
}

/* primary header and navbar*/
.logo-initials {
  margin: 1rem;
  font-size: 1.5em;
  font-weight: 700;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  background: hsl(0 0% 0%/0.8);
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  /* background: hsl(0 0% 0%/0.8); */
  backdrop-filter: blur(0.1rem);
}
/* end header */

/* entire page */
.main-content {
  text-align: left;
  padding-left: 1rem;
}
/* end entire page */

.nav-link-item:hover {
  text-decoration: underline;
  color: var(--general-color);
  cursor: pointer;
}

/* intro-blurb section */
.intro-blurb {
  padding-bottom: 1rem;
}
.greeting {
  font-weight: 750;
  font-size: 1rem;
}

.intro-name {
  color: var(--general-color);
  font-weight: 800;
  font-size: 3rem;
  margin: 0;
}

.intro-description {
  color: var(--general-color);
  margin: 0;
}

.intro-sub {
  color: var(--secondary-color);
  margin: 1rem;
  margin-left: 0;
  font-weight: 600;
}

.intro-list {
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.intro-list > li {
  padding: 5px;
  font-weight: 500;
}

.parent-info-links {
  display: flex;
  justify-content: space-evenly;
}

.info-links {
  text-decoration: none;
  color: var(--highlight-color);
  background: hsl(0 0% 0%/0.8);
  padding: 1rem;
  font-weight: bold;
  border-radius: 10%;
}

.info-links:hover {
  text-decoration: underline;
  color: var(--general-color);
  cursor: pointer;
}
/* end intro-blurb section */

/* about-me section */
.about-section {
  padding-bottom: 1rem;
}
.about-me {
  color: var(--general-color);
}

.about-me-first,
.about-me-second {
  color: var(--secondary-color);
  font-weight: 450;
}
/* end about me section */

/* highlighted work section */
.highlighted-work {
  padding-bottom: 1rem;
}
.projects {
  color: var(--general-color);
}

/* 1-line layouts: 8. Line Up*/
.parent {
  display: grid;
  /* space around each child in grid */
  gap: 1rem;
  /* space given to the column, repeat for responsiveness */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  background: var(--oppo-bg-color);
  color: var(--general-color);
  display: flex;
  flex-direction: column;
  padding: 1rem;

  margin-right: 1rem;
  /* Lines images up nicely */
  justify-content: space-between;
  border-radius: 2%;
}

.card-title,
.card-desc {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.card-desc {
  font-size: 95%;
  font-weight: 300;
}

/* .card:hover{
  box-shadow: ;
} */

.visual {
  height: 100px;
  width: 100%;
  background: var(--secondary-color);
}
/* End of layout pattern*/
/* end higlighted work section */

/* closing section */
.closing-remarks {
  text-align: center;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.contact-info {
  color: var(--general-color);
}

.contact-sub {
  color: var(--secondary-color);
}
/* end closing section */

/* footer */
.end-content {
  padding: 1%;
  color: var(--general-color);
  font-size: 0.75em;
}
.footer-attribution {
  color: var(--highlight-color);
}
/* end footer */

/* larger screens */
@media (min-width: 35em) {
  .primary-navigation {
    --gap: 3rem;
    padding: 1.5rem;
  }
}
/* end larger screen */

/* mobile screen sizes */
@media (max-width: 35em) {
  .primary-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: hsl(0 0% 0%);
    width: 100%;
    /* border-bottom: 1px solid var(--general-color); */
  }
  .primary-navigation {
    --gap: 2em;
    background: hsl(0 0% 0%/0.8);

    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;

    flex-direction: column;
    align-items: flex-start;
    padding: min(30vh, 8rem) 2em;

    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .active-mobile-menu {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;

    background-image: url(icons/light-hamburger-menu32.png);
    background-repeat: no-repeat;
    background-color: whitesmoke;
    border-radius: 25%;
    border: 0;

    width: 2rem;
    height: 2rem;
    /* moves the button */
    top: 1rem;
    right: 2rem;
  }

  .mobile-nav-toggle.active {
    background-image: url(icons/remove.png);
    border-radius: 50%;
  }
}
/* end mobile screen sizes */

/* General */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  /* removes element from the page flow */
  position: absolute;
  /* moves content 10000px to the left */
  left: -10000px;
  /* positions the conent vertically at the same location it was originally */
  top: auto;
  /* visually hides everything that does not fit into the 1px by 1px */
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
