:root {
  --dark-bg-color: #282c34;
  --highlight-color: #3ccf91;
}

.App {
  text-align: center;
  background: var(--dark-bg-color);
  color: var(--highlight-color);
}

.parent {
  display: grid;
  /* space around each child in grid */
  gap: 1rem;
  /* space given to the column, repeat for responsiveness */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  background: black;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  /* Lines images up nicely */
  justify-content: space-between;
}

.visual {
  height: 100px;
  width: 100%;
  background: purple;
}

.end-content {
  padding-bottom: 1%;
}

/* primary header */
.logo-initials {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  /* general reset */
  list-style: none;
  padding: 0;
  margin: 0;

  background: hsl(0 0% 0%/0.8);
  backdrop-filter: blur(0.1rem);
}

@media (min-width: 35em) {
  .primary-navigation {
    --gap: 3rem;
    padding: 1.5rem;
  }
}
@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;

    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;

    flex-direction: column;
    align-items: flex-start;
    padding: min(30vh, 8rem) 2em;

    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .active-mobile-menu {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;

    background-image: url(icons/light-hamburger-menu32.png);
    background-repeat: no-repeat;
    background-color: whitesmoke;
    border-radius: 25%;
    border: 0;

    width: 2rem;
    height: 2rem;
    top: 2rem;
    right: 2rem;
  }

  .mobile-nav-toggle.active {
    background-image: url(icons/remove.png);
    border-radius: 50%;
  }
}

/* General */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.sr-only {
  /* removes element from the page fglow */
  position: absolute;
  /* moves content 10000px to the left */
  left: -10000px;
  /* positions the conent vertically at the same location it was originally */
  top: auto;
  /* visually hides everything that does not fit into the 1px by 1px */
  width: 1px;
  height: 1px;
  overflow: hidden;
}
